---
- name: detener y eliminar contenedor previo
  shell: |
    docker rm -f vault-dev || true
  become: yes

- name: instalar vault en conenedor modo dev
  shell: |
    docker run -d --name vault-dev --cap-add=IPC_LOCK \
    -p 8200:8200 \
    -e 'VAULT_DEV_ROOT_TOKEN_ID=myroot' \
    -e 'VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200' \
    hashicorp/vault
  register: docker_run
  become: yes

- name: instalar ufw para exportar puertp
  apt:
    state: present
    name:
      - ufw
  become: yes

- name: Asegurar que UFW está habilitado
  shell: echo "y" | ufw enable
  ignore_errors: yes   # por si ya estaba habilitado

- name: Permitir el tráfico en el puerto estándar de Vault
  command: ufw allow 8200/tcp